<div class="container">
    <div class="text-center space">
        <h3>
            <b>¡ERROR 404!</b>
        </h3>
        <img src="assets/image/error404.jpg">
    </div>
    <div class="perfil text-center">
        <br />
        <h3>
            <p>¡Ups!... Ésta página no existe.</p>
        </h3>
        <a mdbBtn routerLink="/graficos" class="btn btn-light button-circle waves-effect waves-light">
            <mdb-icon fas icon="arrow-circle-left"></mdb-icon> Volver
        </a>
    </div>
</div>