.img-circle{
    border-radius: 100%;
    vertical-align: middle;
    border-style: none;
}

.space1{
    padding-bottom: 2rem;
}

.space2{
 padding-bottom: 7rem;
}

.subir{
    padding: 5px 10px;
    background: #17bd17;
    color:#fff;
    border:0px solid #fff;
    cursor: pointer;
}
 
.subir:hover{
    color:#fff;
    background: #20d410;
}